.container-home {
  margin: 0vh 1vw 1vh 1vw;
  padding: 0vh 1vw 1vh 1vw;
  text-align: center;
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}

#rainbow-text {
  color: #ad26ad;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.how-to-list {
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

.home-button-container {
  width:100%;
  text-align: center;
  margin: 0vh 1vw 4vh 1vw;

}

#home-button-1{
  display: inline-block;
  background-color: #deb3e6;
}

#home-button-2 {
  display: inline-block;
  background-color: #7bdbc8;
}
