<div class="tasks-container-main-edit">
  <div class="task-info-container">
    <div class="task-edit-input">
      <%= render "edit-form", task: @task %>
    </div>
    <div class="task-notes">
      <p>Notes</p>
    </div>
    <div class="delete-button-container">
    <%= button_to 'Delete Task', goal_task_path(@goal, @task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "task-edit-delete", form: {class: "inline-form"} %>
    </div>
  </div>
</div>

<div class="navbar-bottom">
  <div class="pomodoro">
    <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
    <div class="dropup nav-circle">

      <%= link_to "", goal_tasks_path(goal_id: @goal.id), data: { action: "click->pomodoro#takeFive"}, class: "button-back mx-5", role: "button" %>

    </div>
    <%= link_to pomodoro_path, class: "pomodoro-button", id: "clock",
    data: { action: "click->pomodoro#takeFive"} do %>
      <% if params[:running] %>
        <div class="dashboard-timer" data-pomodoro-target="display"></div>
      <% else %>
        <i class="fas fa-clock"></i>
      <% end %>
    <% end %>
  </div>
</div>
