<div class="tasks-container-main-edit">
  <div class="task-info-container">
    <div class="task-edit-input">
      <%= render "edit-form", task: @task %>
    </div>
    <div class="task-notes">
      <p>Notes</p>
    </div>
    <div class="delete-button-container">
    <%= button_to 'Delete Task', goal_task_path(@goal, @task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "task-edit-delete", form: {class: "inline-form"} %>
    </div>
  </div>
</div>

<div class="container-bottom">
  <%= render "shared/navbar_bottom_back" %>
</div>
