<div class="tasks-container-main">
  <div>
    <%= render "form", task: @task %>
  </div>

  <div class="tasks-container">
    <ul>
      <% @tasks.each do |task| %>
        <li class="task-item">
          <div class="task-title"><%= link_to task.title, edit_goal_task_path(@goal, task) %></div>
          <div class="task-info">
            <%= button_to 'x', goal_task_path(@goal, task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "task-delete", form: {class: "inline-form"} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to "⬅", root_path, class: "back-to-dashboard" %>
  </div>
</div>
