
.container-main{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
}

.container-top {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #F8F7F4;
  margin-bottom: 11px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.container-center {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  // border: 1px solid #ccc;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 20px;
}

.container-bottom {
  // max-width: 600px;
  // // margin: 0 auto;
  // text-align: center;
  // padding-left: 20px;
  // padding-right: 20px;
  // // border: 1px solid #ccc;
  // border-radius: 60px;
  // background-color: rgba(227, 227, 227, 0.4);
  margin-bottom: 90px;
  // position: fixed;
  // bottom: 0%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: fixed;
  // left: 50%;
  // transform: translate(-50%, 0);
}

.container-tasks {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.goal-card {
  background-color: #F8F7F4;
  border-radius: 8px;
  padding: 10px;
  padding-top: 0px;
  text-align: left;
}

.goal-title {
  background-color: #F8F7F4;
  color: #A8A8A8;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.progress-message {
  background-color: white;
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 8;
}

.days-remaining {
  background-color: #F8F7F4;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

// .pomodoro-button, .add-goal-button {
//   background-color: #e7e7e7;
//   border: none;
//   border-radius: 8px;
//   padding: 10px 20px;
//   margin: 5px;
//   cursor: pointer;
// } MOVING THISONE TO btn-add-functionality .SCSS

.container img {
  width: 100%;        /* Stellt sicher, dass das Bild die Breite des Containers ausfüllt */
  height: auto;       /* Behält das Seitenverhältnis des Bildes bei */
  object-fit: cover;  /* Sorgt dafür, dass das Bild den Container ohne Verzerrung ausfüllt */
}

.pomodoro {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */

}
