<div class="navbar-bottom">
  <div class="pomodoro">
    <%= link_to archive_path, class: "pomodoro-button", id: "book" do %>
        <i class="fas fa-book"></i>
    <% end %>
      <div class="dropup nav-circle">
        <%= link_to "", root_path, class: "button-back mx-5", data: { action: "click->pomodoro#takeFive"} %>
      </div>
    <%= link_to pomodoro_path, class: "pomodoro-button", id: "clock", data: { action: "click->pomodoro#takeFive"} do %>
      <i class="fas fa-clock"></i>
    <% end %>
    </div>
  </div>
</div>
