<div class="navbar-bottom">
  <div class="pomodoro">
    <%= link_to archive_path, class: "pomodoro-button", id: "book"  do %>
      <i class="fas fa-book"></i>
    <% end %>
    <div class="dropup nav-circle">
      <button class="button-add-functionality mx-5" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <div class="dropdown-menu">
          <%= link_to "Change Date", edit_date_path(@goal), class: "dropdown-item " %> <%# <-- Add a Date  %>
          <%= link_to "Task Overview", goal_tasks_path(@goal), class: "dropdown-item" %> <%# <-- Add a Task  %>
        </div>
    </div>
    <%= link_to pomodoro_path, class: "pomodoro-button", id: "clock"  do %>
      <i class="fas fa-clock"></i>
    <% end %>
  </div>
</div>
