<div class="container-main" style="height: 100vh">
  <!-- Add New Goals -->
  <h1>Create a new journey:</h1>
    <div>
      <%= render "new_goal_form", task: @goal %>
    </div>


  <!-- Non-Active Goals -->
  <div class="archive-container mt-5">
    <h1>Your past goals (archive):</h1>
    <br>
    <div>
      <% @goals.each do |goal| %>
        <li class="task-item">
          <h4><%= goal.title %></h4>
        </li>
      <% end %>
    </div>
  </div>

  <!-- Navbar Bottom -->
  <div class="container-bottom">
    <div class="navbar-bottom">
      <div class="pomodoro">
        <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
        <div class="dropup nav-circle">
          <%= link_to "", root_path, class: "button-back mx-5" %>
        </div>
        <button class="pomodoro-button" id="clock"><i class="fas fa-clock"></i></button>
      </div>
    </div>
  </div>
</div>
