<div class="archive-container">
<h1><b>✅</b></h1>
<h1><b><u>Archive</u></b></h1>
<br>
  <% @goals.each do |goal| %>
    <div>
    <h3><em>
    <%= goal.title %>
    </em>
    </h3>
    </div>
    <br>
  <% end %>
</div>
