  <div class="container-main">
<div class="archive-container">
<h1><b>✅</b></h1>
<h1><b><u>Archive</u></b></h1>
<br>
  <% @goals.each do |goal| %>
    <div>
    <h3><em>
    <%= goal.title %>
    </em>
    </h3>
    </div>
    <br>
  <% end %>
</div>


  <div class="container-bottom">
    <div class="navbar-bottom">
      <div class="pomodoro">
        <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
        <div class="dropup nav-circle">


          <%= link_to "", root_path, class: "button-back mx-5" %>


        </div>
        <button class="pomodoro-button" id="clock"><i class="fas fa-clock"></i></button>
      </div>
    </div>
  </div>
</div>

</div>
