<div class="container-main" style="height: 100vh">
  <!-- Add New Goals -->
  <h1>Create a new journey:</h1>
    <div>
      <%= render "new_goal_form", task: @goal %>
    </div>

  <!-- Non-Active Goals -->
  <div class="archive-container mt-5">
    <h1>Your past goals (archive):</h1>
    <br>
    <div>
      <% @goals.each do |goal| %>
        <li class="task-item">
          <h4><%= goal.title %></h4>
        </li>
      <% end %>
    </div>
  </div>

  <!-- Navbar Bottom -->

    <div class="container-bottom">
      <%= render "shared/navbar_bottom_back" %>
    </div>
</div>
