    <div>
      <%= link_to "Add a date to your goal", edit_date_path(@goal), class: "btn btn-warning" %>
    </div>

    <div>
      <%= link_to "Add a task to your goal", goal_tasks_path(@goal), class: "btn btn-primary" %>
    </div>
