<h1>Dashboard#home</h1>
<p>Find me in app/views/pages/dashboard.html.erb</p>

<h2>This is the dashboard (mainpage)</h2>
<p>For: Logged in users</p>
<p>Use: Daily Use. Track your goal, edit subtasks, etc.</p>
<p>On the dashboard you see your goal and the functionalities you chose (date, subtasks, etc.).</p>

<!-- Container for the Add Treehouse Button -->

<div>
  <h2><%= @goal.title %> <%= @goal.emoji %></h2>
</div>

