<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>This is the landing page</h2>
<p>For: Users without login</p>
<p>Use: Explanation of the app</p>

<p>Content: Maybe some tools (pomodoro timer) </p> %>
<div class="container-main">

  <div class="container-top">
    <div class="goal-card">
      Your goal
    </div>
    <div class="goal-title">
      Learn to Code
    </div>
    </div>
  <div class="container-center">
  <div class="progress-message">
    You're doing great! -Emma
  </div>
  <div class="container">
    <%= image_tag("plant.webp", alt: "Beschreibung des Bildes") %>
  </div>
</div>

  <div class="container-bottom">
    <div class="days-remaining">
      20 days remaining
    </div>
  <div class="pomodoro">
   <button class="pomodoro-button">Placeholder</button>
    <button class="button-add-functionality mx-3" ></button>
     <button class="pomodoro-button">Placeholder</button>
  </div>
  </div>


</div>

