<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>This is the landing page</h2>
<p>For: Users without login</p>
<p>Use: Explanation of the app</p>
<p>Content: Maybe some tools (pomodoro timer) </p>


<div>
  <%= link_to "Tackle a new goal", new_goal_path, class: "btn btn-primary" %>
</div>
