.container-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add-functionality {
  background-color: #AFDAEE;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 45px;
}

.pomodoro-button {
  background-color: #AFDAEE;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 27px;
  position: relative;
  margin: 11px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 2rem;

  width: 100px; /* Example width */
  height: 50px; /* Example height */
  padding: 10px; /* Example padding */
  display: inline-flex; /* Ensures proper alignment of icons/text */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  font-size: 16px; /* Example font size */
  /* Add other styling as needed */
}



.pomodoro-button:hover {
  transform: scale(1.1);
  background-color: #3498db;
  color: white;
}

.pomodoro-button::before {
  color: white;
  text-shadow: 0 0 5px rgba(181, 181, 181, 0.3);
  font-weight: 700;
  font-size: 6rem;
}

.pomodoro-button i {
  font-size: 24px;
}

.button-add-functionality:hover {
  transform: scale(1.1);
  background-color: #3498db;
  color: white;
}

.button-add-functionality::before {
  content: '+';
  color: white;
  text-shadow: 0 0 5px rgba(181, 181, 181, 0.3);
  font-weight: 700;
  font-size: 6rem;
}

.button-toggler {
  background-color: #c059d5;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 45px;
}

.button-toggler:hover {
  background-color: #6f0d83;
  color: white;
}

.button-toggler::before {
  color: white;
  text-shadow: 0 0 5px rgba(181, 181, 181, 0.3);
  font-weight: 700;
  font-size: 6rem;
}


.dropup .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

#clock {
  margin-left: -20px;
  text-decoration: none;
}

#book {
  margin-right: -20px;
  text-decoration: none;
}
