.container-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add-functionality {
  background-color: #AFDAEE;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 45px;
}

.pomodoro-button {
  background-color: #AFDAEE;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px 27px;
  position: relative;
  margin: 11px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro-button i {
  font-size: 24px;
}

.button-add-functionality:hover {
  transform: scale(1.1); /* Button beim Hover vergrößern */
  background-color: #3498db; /* Blauer Hintergrund */
  color: white;
}

.button-add-functionality::before {
  content: '+';
  color: white;
  text-shadow: 0 0 20px rgba(181, 181, 181, 0.3);
  font-weight: 700;
  font-size: 6rem;
}

// .dropup {
//   position: relative; /* Ensures dropdown-menu is positioned relative to this container */
// }

.dropup .dropdown-menu {
  left: 50%; /* Start the menu in the center of the button */
  transform: translateX(-50%); /* Move it back by half of its own width to center it */
  bottom: 100%; /* Adjust this value as needed to position the menu right above the button */
}

#clock {
  margin-left: -20px;
}

#book {
  margin-right: -20px;

}
