.button-add-functionality {
  background-color: #AFDAEE;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.button-add-functionality:hover {
  transform: scale(1.1); /* Button beim Hover vergrößern */
  background-color: #3498db; /* Blauer Hintergrund */
  color: white;
}

.button-add-functionality::before {
  content: '+';
  color: white;
  text-shadow: 0 0 20px rgba(181, 181, 181, 0.3);
  font-family: "Bouquet";
  font-weight: 700;
  font-size: 6rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

// .dropup {
//   position: relative; /* Ensures dropdown-menu is positioned relative to this container */
// }

.dropup .dropdown-menu {
  left: 50%; /* Start the menu in the center of the button */
  transform: translateX(-50%); /* Move it back by half of its own width to center it */
  bottom: 100%; /* Adjust this value as needed to position the menu right above the button */
}
