.edit-date-container {
  background: white;
  width: 100%;
  min-height: 100vh;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 15px;
}

.date-update-btn {
  background-color: #AFDAEE;
  border-radius: 15%;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: medium;
  margin-left: 120px;
}
