.mynavbar {
  background-color: #AFDAEE!important;
  display: flex!important;
  justify-content: flex-end!important;
}

.navbar {
  background-color: #AFDAEE;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

