.mynavbar {
  background-color: #AFDAEE!important;
  display: flex!important;
  justify-content: flex-end!important;
}

.dropdown-item {
  padding: 1.5vw;
  text-align: right;
  color: rgb(0, 60, 144);
}

.navbar {
  background-color: #AFDAEE;
}

.navbar-brand {
  color: rgb(0, 60, 144);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler {
  border: transparent;
  color: transparent;
}

.navbar-toggler-icon {
  color: rgb(0, 60, 144) !important;
}

.navbar-bottom {

  .nav-circle {
    z-index: 1;
  }

  height: 100px;
  max-width: 600px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: rgba(193, 224, 240, 0.3);
  margin-bottom: 10px;
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar-top {
  position: fixed;
  bottom: 110px; /* Adjusted to sit above the navbar-bottom */
  left: 0;
  width: 100%;
  height: 50px; /* Adjust height as needed */
  display: flex;
  justify-content: center; /* Centering the inner container */
  align-items: center;
  background-color: transparent;
}

.navbar-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-left {
  text-decoration: none;
  background-image: url("calendar.png");
  background-size: 70%; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */


}
.button-right {
  text-decoration: none;
  background-image: url("list.png");
  background-size: 50%; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */

}
