.timer-container-main {
  background-image: asset-url("pomodoro.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#timer{
  margin-top: 30px;
}

#timer p{
  border-radius: 50%;
  border: 10px solid #afdaee;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Flex';
  font-size: 3rem;
}

#start, #pause, #reset {
  background-color: #ffffff;
  color: #AFDAEE;
  border: 3px solid #afdaee;
  border-radius: 10px;
  padding: 10px 27px;
  // position: relative;
  margin: 5px;
  font-size: 1.4rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 33px;
}
#start:active, #pause:active, #reset:active {
  animation-duration: .5s;
  background-color: rgba(193, 224, 240, 0.3);
}

.timer-card{
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 25px;

  // test

  // border-radius: 30px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  // padding: 20px;
  // margin-top: 25px;
  // backdrop-filter: blur(10px);
}

.timer-container {
  margin: 10px;

}

.pomodoro-title{
  font-family: 'Roboto Flex';
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  color: #4eadd9;
}

.pomodoro-timer-sm {
  border-radius: 10%;
  border: 7px solid #afdaee;
  height: 60px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Flex';
  font-size: 2rem;

}
