.tasks-container-main {
  background: white;
  width: 100%;
  min-height: 100vh;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.tasks-container ul {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(107, 107, 107, 0.2);
}

.task-item-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(107, 107, 107, 0.2);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.task-item a {
  text-decoration: none;
  color: #828282;
}

.task-title {
  flex-grow: 1;
  text-decoration: none;
}

.task-title a {
  font-weight: 2rem;

}

.task-info {
  display: flex;
  align-items: center;
}
