<div class="edit-date-container">
  <%= simple_form_for(@goal, html: { class: "" }, data: { controller: "datepicker" }) do |f| %>
    <%= f.input :start_time, label: "Set Your Dates, Track Your Journey!", as: :string, input_html: { data: { datepicker_target: "date" } } %>
    <%= f.button :submit, "UPDATE", class:"date-update-btn" %>
  <% end %>
</div>
<div>
    <%= link_to "⬅", root_path, class: "back-to-dashboard" %>
</div>
