// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

//Navbar
@import "components/navbar";

//Footer
@import "components/footer";

//Container
@import "components/dashboard/containers";

//
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";

@import "components/btn-add-functionality";
@import "components/task-new";
@import "components/task";
@import "components/back-to-dashboard";
@import "components/edit-date";
@import "components/task-edit";

@import "components/dashboard-task/dashboard-task";
@import "components/navbar-edit-tasks";
@import "components/pomodoro-front";





body {
  background-color: #AFDAEE; /* This sets the background color to white */
  height: 100vh;
}

p {margin-bottom: 0;}

.task-item a {
  text-decoration: none;
  color: #828282;
}
