// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

//Navbar
@import "components/navbar";

//Footer
@import "components/footer";

//Container
@import "components/dashboard/containers";
@import "components/home/home";

//
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";

@import "components/btn-add-functionality";
@import "components/task-new";
@import "components/task";
@import "components/back-to-dashboard";
@import "components/edit-date";
@import "components/task-edit";

@import "components/dashboard-task/dashboard-task";
@import "components/navbar-edit-tasks";
@import "components/pomodoro-front";
@import "components/archive";





body {
  background-color: #AFDAEE; /* This sets the background color to white */
  height: 100vh;
}

p {
  margin-bottom: 0;
}

.task-item a {
  text-decoration: none;
  color: #828282;
}

.btn-square-green {
  width: 40px;  /* Size of the square */
  height: 40px;  /* Size of the square */
  padding: 0;  /* Remove padding to ensure the button remains square regardless of content */
  display: flex;  /* Flexbox to center the content */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  font-size: 0px;  /* Adjust checkmark size */
  border-color: none;
  border-radius: 5px;
  background-image: url("check.png");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.btn-square-green:hover {
  background-image: url("");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.btn-square-grey {
  width: 40px;  /* Size of the square */
  height: 40px;  /* Size of the square */
  padding: 0;  /* Remove padding to ensure the button remains square regardless of content */
  display: flex;  /* Flexbox to center the content */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  font-size: 0px;  /* Adjust checkmark size */
  border-color: none;
  border-radius: 5px;
  background-image: url("");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.btn-square-grey:hover {
  background-image: url("check.png");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
